*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f1faee;
  height: 100vh;
  color: #212529;
}

.text-secondary {
  color: #a8dadc;
}

.wrapper {
  width: 700px;
  margin: 20px auto;
}

.main-section {
  margin: 1rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px rgba(33, 37, 41, 0.2);
}

.search-row {
  margin: 0.75rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.search-row__input-icon {
  width: 100%;
  position: relative;
}
.search-row__input-icon i {
  position: absolute;
  width: 2.5rem;
  color: #457b9d;
  bottom: 0;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-row__input-icon input {
  padding-left: 2rem;
}
.search-row__input {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #a8dadc;
  border-radius: 0.25rem;
}
.search-row__input::placeholder {
  color: #457b9d;
}
.search-row__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #a8dadc;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(168, 218, 220, 0.25);
}
.search-row .current__btn {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: #457b9d;
  background-color: #a8dadc;
  border: 1px solid #a8dadc;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.search-row .current__btn:hover {
  background-color: #84cbcd;
  color: #f1faee;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 1.5rem 0;
}
.info__block {
  display: flex;
  flex-direction: column;
}
.info__city {
  font-size: 1.75rem;
  font-weight: 500;
}
.info__date {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.info__time {
  font-size: 2.5rem;
  font-weight: 200;
}

.weather {
  margin: 0.75rem 1.5rem 0;
  display: flex;
  justify-content: right;
  align-items: center;
}
.weather__image {
  flex: 1;
  margin-right: 1.5rem;
  text-align: right;
}
.weather__image img {
  width: 8rem;
}
.weather__info {
  flex: 1;
  display: flex;
}
.weather__info > div {
  flex: 1;
}
.weather__temperature {
  line-height: 4.5rem;
  font-size: 4.5rem;
  font-weight: 200;
}
.weather__description {
  font-size: 1.25rem;
  font-weight: 400;
}
.weather__unit-switch {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.weather__unit-switch span {
  font-size: 1.5rem;
  margin-left: 1rem;
  line-height: 1.75rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.weather__unit-switch .active {
  font-size: 1.75rem;
  color: #212529;
  font-weight: 500;
}

.additional {
  margin: 0.75rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.additional__item {
  text-align: center;
}
.additional__item-value {
  font-size: 1.5rem;
  font-weight: 500;
}
.additional__item-name {
  font-size: 0.8rem;
  font-weight: 500;
}

.forecast {
  margin-top: 1.75rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f1faee;
}
.forecast__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #f1faee;
}
.forecast__item:last-child {
  border-right: none;
}
.forecast__day {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.forecast__block {
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forecast__block img {
  width: 5rem;
  margin-right: 20px;
}
.forecast__temp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.forecast__temp-max {
  font-weight: 300;
  font-size: 2.25rem;
}
.forecast__temp-min {
  font-size: 1.25rem;
}

footer {
  margin: 1rem;
  text-align: center;
}
footer a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: #457b9d;
  transition: all 0.4s ease-in-out;
}
footer a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #457b9d;
  transition: all 0.4s ease-in-out;
}
footer a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  .search-row, .info, .weather, .additional, .forecast {
    margin: 1.75rem 1.5rem 0;
  }
  .forecast__block img {
    width: 4.5rem;
  }
  .forecast__temp-max {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
  .text-secondary {
    color: #457b9d;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .main-section {
    margin: 1rem;
    background-color: inherit;
    border-radius: unset;
    box-shadow: none;
  }
  .weather {
    flex-flow: row-reverse;
  }
  .weather__image {
    margin: 0;
    text-align: center;
  }
  .weather__image img {
    width: 7rem;
  }
  .additional {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .additional::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    background-color: #fff;
    opacity: 0.5;
    border-radius: 10px;
    z-index: 1;
  }
  .additional__item {
    width: 100%;
    padding: 0.25rem 0;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  .additional__item-name, .additional__item-value {
    font-size: 1.25rem;
  }
  .forecast {
    position: relative;
    flex-direction: column;
  }
  .forecast::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    background-color: #fff;
    opacity: 0.5;
    border-radius: 10px;
    z-index: 1;
  }
  .forecast__item {
    padding: 0.25rem 0;
    flex-direction: row;
    z-index: 2;
  }
  .forecast__item > div {
    flex: 1;
  }
  .forecast__block {
    margin: 0;
  }
  .forecast__block img {
    width: 3rem;
  }
  .forecast__temp {
    flex-direction: row;
    flex: 1;
  }
  .forecast__temp-min {
    flex: 1;
  }
  .forecast__temp-max {
    font-size: 1.25rem;
    flex: 1;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
  .wrapper {
    width: 800px;
  }
}

/*# sourceMappingURL=main.css.map */
